<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.zebra.dao.mapper.UserMapper">

	<select id="findUserById" parameterType="map" resultType="UserEntity">
		SELECT
		* FROM `User` where id = #{userId}
	</select>
	
	<select id="getAll" parameterType="map" resultType="UserEntity">
		SELECT * FROM `User`
	</select>
	
	<insert id="insertUser" parameterType="UserEntity">
	    INSERT into `User`
		(
		`Name`,
		`Tel`,
		`Alias`,
		`Email`,
		`Role`,
		`UpdateTime`
		)
		VALUES
		(
		#{name},
		#{tel},
		#{alias},
		#{email},
		#{role},
		NOW())
	</insert>
</mapper>